body{
	background-color: #f3f3f3;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

h2 {
	text-align: center;
}


/*Header / navbar*/

nav{
	position: relative;
	box-sizing: border-box;
	padding: 0.5em 10% 0.5em 10%;

	margin-right: 1em;
	margin-left: 1em;

	border-bottom: 1px solid #d6d6d6;
}

#logo{
	height: 9em;
	width: 20em;
	
	color: white;
	text-align: center;
}

#navbuttons{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	position: absolute;
	bottom: 3em;
	right: 10%
}

#navbuttons a{
	color: #56a2aa;
	text-decoration: none;
	margin-left: 1em;
}

.navitem{
	display: inline-block;
}

/*main portion*/
#search_container{
	margin-top: 2em;
	box-sizing: border-box;
	padding-left: 25%;
	padding-right: 25%;
}


#searchfieldform{
	display: flex;
	width:100%;
	flex-wrap: wrap;
	align-items: center;
}

#searchfield{
	width: 88%;
	height: 3em;
}

#searchSubmit{
	width:10%;
	height: 3.4em;
	background-color: #56a2aa;
	border: 0;
	color: white;
	/*float: right;*/
	font-weight: bold;
	cursor: pointer;
}


#icon_container{
	margin-top: 5em;

	width: 100%;
	box-sizing: border-box;
	padding: 0 20% 2em 20%;

	border-bottom: 1px solid #d6d6d6;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#icon_container div{

	width: 20%;
}

#icon_container div a{
	color: #496081;
}

.icon{
	width: 100%;
}


.icon_heading{
	color: #3788ae;
	font-size: 1.7em;
	text-align: center;
}

#aktuelt_container{
	box-sizing: border-box;
	padding-left: 30%;
	padding-right: 30%;
}



.contentbox{
	box-sizing: border-box;
	padding: 0 25%;

}

.contentbox hr,h4{
	flex-basis:100%;
}

.treffbox{
	font-weight: bold;
	color: #56a2aa;
	text-align: center;
	flex-basis: 100%;
}

.inputbuttons{
	width:20%;
	max-width: 20%;
	background-color: #56a2aa;
	border: 1px solid #56a2aa;
	color: white;
	padding: 15px;

	/*float: right;*/
	font-weight: bold;
	cursor: pointer;
	box-sizing: border-box;
	flex-basis: 100%;
}

.inputbuttons:hover{
		border: 1px solid black;
}

#uploadform{
	width:100%;
}

.red{
	color: #FE7E62;
}


